apiVersion: apps/v1
kind: Deployment
metadata:
  name: whatos
  namespace: whatos
  labels:
    app: whatos
spec:
  replicas: 1
  selector:
    matchLabels:
      app: whatos
  template:
    metadata:
      labels:
        app: whatos
    spec:
      serviceAccountName: default-sa-identity 
      containers:
        - name: whatos
          image: whatos:latest
          ports:
            - containerPort: 8081
          securityContext:
            allowPrivilegeEscalation: false  
            runAsUser: 1000       
            runAsNonRoot: true
            readOnlyRootFilesystem: true
          resources:
            limits:
              memory: "512Mi"
              cpu: "2"
            requests:
              memory: "64Mi"
              cpu: "0.25"   