apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    kubernetes.azure.com/tls-cert-keyvault-uri: ${CERTIFICATE_KV_URI}
  name: whatos-ingress
  namespace: whatos
spec:
  ingressClassName: webapprouting.kubernetes.azure.com
  rules:
  - host: ${APPLICATION_URI}
    http:
      paths:
      - backend:
          service:
            name: ${SERVICE_NAME}
            port:
              number: 8081
        path: /
        pathType: Prefix
  tls:
  - hosts:
    - ${APPLICATION_URI}
    secretName: keyvault-${SERVICE_NAME}-ingress